<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040064401222-0ggsi0cd7fihuhnm12b6ne17ng6sapfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040064401222-0ggsi0cd7fihuhnm12b6ne17ng6sapfl</string>
	<key>API_KEY</key>
	<string>AIzaSyCe_tOMdH7PrPVQh4qT8xcUSbmX0CZvQxE</string>
	<key>GCM_SENDER_ID</key>
	<string>1040064401222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innoscripta.demo.innoscriptaDemo</string>
	<key>PROJECT_ID</key>
	<string>innoscripta-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>innoscripta-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040064401222:ios:f8260e1dd43e63d8135f47</string>
</dict>
</plist>